:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --border-radius: 2rem;
    --border-radius: 0.4rem;
    --border-radius: 0.8rem;
    --border-radius: 1.2rem;

    --card-padding: 1.8rem;
    --padding: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
    
}

/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.main-container {
    height: 100vh;
    z-index: -1;
}
.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.container section {
    background: #1c1c1c;
    width: 240px;
    height:100%;
    padding: 100px 0px 0px 0px;
    position: fixed;
}

.container section .right {
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 600px;
}

/* Top Header */
.header-styles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1c1c1c;
    padding: 10px 16px 10px 16px;
    z-index: 10;
    position: fixed;
    width: 100%;
}


.search-bar {
    display: flex;
    gap:10px;
    width: 472px;
    height: 36px;
    align-items: center;
    background-color:#323232;
    padding: 0px 8px 0px 8px;
    border-radius: 8px;
}
input[type="text"] {
    outline: none; 
    color : rgb(228, 218, 218)
  }
  
.image{
    width: 16px;
    height: 16px;
}
 .search-bar input {
    width:100%;
    border: none;
    background-color: transparent;
} */

/* Sidebar */

.logo {
    text-align: center;
}
nav {
    width: 100%;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
.imarg{
    width: 20px;
    height: 20px;
}
.dannick{
    display: flex;
    align-items: center;
    gap: 16px;
}
.nav-link {
    width: 100%;
    height: 46px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: border 0.5s, background 0.5s;
}

.nav-link:hover, .nav-link.active {
    width: 97%;
    background-color: rgba(129, 124, 124, 0.5);
    cursor: pointer;
    border-left: 5px solid #FAC30F;
}

.logout a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.section-1 .right .logout{
    display: flex;
    align-items: flex-end;

}

/* Content */
.container .content {
    width:100%;
    margin-top: 200px;
}

.container .content {
    /* border: 6px solid pink; */
    display: flex;
    justify-content: center;
    margin-left: 240px;
}

.container .content .content-subdiv {
    width: 75%;
    /* border: 2px solid yellow; */
    
}

.page {
    display: none;
    animation: slideIn 0.8s ease-in-out;
    animation-fill-mode: forwards;
}

.page.active {
    display: block;
}

/* Home Page */
.box-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
}

.box {
    background-image: linear-gradient(to right, rgb(57, 54, 54) , rgb(90, 90, 70));
    color: white;
    padding: 20px;
    width: 25%;
    height: 100px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 12px 12px 2px 1px rgba(29, 29, 91, 0.2);
}

.graph {
    padding: 20px;
    border-radius: 5px;
}

/* Config Page */
.config-nav {
    list-style-type: none;
    width: 90%;
    background-image: linear-gradient(to right, rgb(57, 54, 54) , rgb(90, 90, 70));
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.config-btn {
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    transition: color 0.3s, font-size 0.4s;
}

.config-btn:hover, .config-btn.active {
   font-size: 17px;
    color: #FAC30F;
}

.config-content {
    background-color: #ecf0f1;
    padding: 60px;
    border-radius: 5px;
}

.config-page {
    display: none;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    animation: slideIn 0.8s ease-in-out;
    animation-fill-mode: forwards;
}

.config-page.active {
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    transform: translateY(0);
}

@keyframes slideIn {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}